@import '~antd/dist/antd.css';
.App {
  font-family: sans-serif;
  text-align: center;
}
.graphin-context-menu .ant-menu-root, .graphin-context-menu .ant-menu-sub {
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0,0,0,.15);
}
#graphin-container {
  height: 800px;
}